.dropdown{
    display: inline;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    background-color: rgb(238, 237, 237);
    position: absolute;
    min-width: 100px;
    box-shadow: 3px 3px 10px black;
    display: none;
}
.dropdown:hover .content{    
    display: block;
}
.dropdown a:hover{
    background-color: darkgray;
}
.dropdown:hover button{
    background-color: gray;
}